@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

:root {
  /* font-family: 'Anton', sans-serif; */
  font-family: "Space Grotesk", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
}

label,
input,
textarea {
  font-family: "Space Grotesk", sans-serif;
}
